@*@model MySchool.Entities.StudentEntities*@
@{
    ViewBag.Title = "Student";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Student.js"></script>

<body style="background-image: url(../background/depart.jpg);
    background-size: cover;">


    @Html.Hidden("saveStudentParticulars", @Url.Action("AddStudentParticulars", "Student"))
    @Html.Hidden("loaddataStudentParticulars", @Url.Action("LoadDataStudentParticulars", "Student"))

    <div class="row" style="height:1050px;">
        <div class="col-md-7 bac" style=" width: 100%;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text m-t-lg">
                        <h2>
                            Student
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8" style="width: 100%;">

            <div style="height:900px;">
                @*/////////////////////// class="table-responsive"///////////////////////////*@
                <div class="card">



                    <div class="row">
                        <div class="col-lg-12">
                            <!-- START panel-->
                            <div id="panelDemo14" class="panel panel-default">
                                <div class="panel-body">
                                    <div role="tabpanel">
                                        <!-- Nav tabs-->
                                        <ul role="tablist" class="nav nav-tabs">
                                            <li role="presentation" class="active">
                                                <a href="#StudentParticulars" aria-controls="StudentParticulars" role="tab" data-toggle="tab">Student Particulars</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#StudentAttendent" aria-controls="StudentAttendent" role="tab" data-toggle="tab">Student Attendent</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#StudentContact" aria-controls="StudentContact" role="tab" data-toggle="tab">Student Contact</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#StudentHealth" aria-controls="StudentHealth" role="tab" data-toggle="tab">Student Health</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#StudentResult" aria-controls="StudentResult" role="tab" data-toggle="tab">Student Result</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#StudentResultDetails" aria-controls="StudentResultDetails" role="tab" data-toggle="tab">Student Result Details</a>
                                            </li>
                                        </ul>
                                        <!-- Tab panes-->
                                        <div class="tab-content">
                                            <div id="StudentParticulars" role="tabpanel" class="tab-pane active">
                                                <form class="form-horizontal" id="MyForm" data-parsley-validate="" novalidate="" action="#">

                                                    <div class="panel-heading">
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Student:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="StudentID_StudentParticulars"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Student Name:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="FirstName" placeholder="First Name" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="StudentName_StudentParticulars"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">D.O.B:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="DOB" placeholder="D.O.B" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="DOB_StudentParticulars"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Grade:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="GradeID" placeholder="Grade" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="GradeID_StudentParticulars"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Start Date:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StartDate" placeholder="Start Date" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="StartDate_StudentParticulars"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">End Date:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="EndDate" placeholder="End Date" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="EndDate_StudentParticulars"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Leaving Reason:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="LeavingReason" placeholder="Leaving Reason">*@
                                                            <label class="form-control" style="width: 90%;" id="LeavingReason_StudentParticulars"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Gender:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="Gender" placeholder="Gender" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="Gender_StudentParticulars"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Photo:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="Photo" placeholder="Photo">*@
                                                            @*<label class="form-control" style="width: 90%;" id="Photo_StudentParticulars"></label>*@
                                                            <div class="col-lg-4 text-center mb-lg">
                                                                    <img src="~/Content/Images/deep.jpg" alt="Image" id="Photo_StudentParticulars" class="img-responsive img-thumbnail" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <input type="hidden" id="StudentParticularsID" />
                                                    </div>

                                                    <div class="panel-footer text-center">
                                                        @*<button type="button" class="btn btn-primary" id="btnSave" onclick="return AddStudentParticulars();">Save</button>*@
                                                        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "StudentParticulars")';return false;">Add</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div id="StudentAttendent" role="tabpanel" class="tab-pane">
                                                <form class="form-horizontal" id="MyForm" data-parsley-validate="" novalidate="" action="#">

                                                    <div class="panel-heading">
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Student:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="StudentID_StudentAttendent"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Date:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="FirstName" placeholder="First Name" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="Date_StudentAttendent"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Is Presents:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="LastName" placeholder="Last Name" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="IsPresents_StudentAttendent"></label>
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="form-group">
                                                        <input type="hidden" id="StudentAttendentID" />
                                                    </div>

                                                    <div class="panel-footer text-center">
                                                        @*<button type="button" class="btn btn-primary" id="btnSave" onclick="return AddStudentAttendent();">Save</button>*@
                                                        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "StudentAttendent")';return false;">Add</button>

                                                    </div>
                                                </form>
                                            </div>
                                            <div id="StudentContact" role="tabpanel" class="tab-pane">
                                                <form class="form-horizontal" id="MyForm" data-parsley-validate="" novalidate="" action="#">

                                                    <div class="panel-heading">
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Student:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="StudentID_StudentContact"></label>
                                                        </div>
                                                    </div>

                                                    <legend></legend>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Father Name:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="FatherName_StudentContact"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Father Address:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="FatherAddress_StudentContact"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Father Phone No.1:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="FPh1_StudentContact"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Father Phone No.2:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="FPh2_StudentContact"></label>
                                                        </div>
                                                    </div>

                                                    <legend></legend>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Mother Name:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="MotherName_StudentContact"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Mother Address:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="MotherAddress_StudentContact"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Mother Phone No.1:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="MPh1_StudentContact"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Mother Phone No.2:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="MPh2_StudentContact"></label>
                                                        </div>
                                                    </div>

                                                    <legend></legend>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Grand Father Name:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="GName_StudentContact"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Grand Father Address:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="GAddress_StudentContact"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Grand Father Phone No.1:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="GPh1_StudentContact"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Grand Father Phone No.2:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="GPh2_StudentContact"></label>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <input type="hidden" id="StudentContactID" />
                                                    </div>

                                                    <div class="panel-footer text-center">
                                                        @*<button type="button" class="btn btn-primary" id="btnSave" onclick="return AddStudentContact();">Save</button>*@
                                                        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "StudentContact")';return false;">Add</button>

                                                    </div>
                                                </form>
                                            </div>
                                            <div id="StudentHealth" role="tabpanel" class="tab-pane">
                                                <form class="form-horizontal" id="MyForm" data-parsley-validate="" novalidate="" action="#">

                                                    <div class="panel-heading">
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Student:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="StudentID_StudentHealth"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Blood Group:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="BloodGroup_StudentHealth"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Known Madical Problems:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="KnownMadicalProblems_StudentHealth"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Doctor Name:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="DoctorName_StudentHealth"></label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <input type="hidden" id="StudentHealthID" />
                                                    </div>

                                                    <div class="panel-footer text-center">
                                                        @*<button type="button" class="btn btn-primary" id="btnSave" onclick="return AddStudentHealth();">Save</button>*@
                                                        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "StudentHealth")';return false;">Add</button>

                                                    </div>
                                                </form>
                                            </div>
                                            <div id="StudentResult" role="tabpanel" class="tab-pane">
                                                <form class="form-horizontal" id="MyForm" data-parsley-validate="" novalidate="" action="#">

                                                    <div class="panel-heading">
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Student:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="StudentID_StudentResult"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Student Result Details:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="StudentResultDetailsID_StudentResult"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Total Marks:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="TotalMarks_StudentResult"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Marks Obtained:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="MarksObtained_StudentResult"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">No Of Subjects Fails:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="NoOfSubjectsFails_StudentResult"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Result Status:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="ResultStatus_StudentResult"></label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <input type="hidden" id="StudentResultID" />
                                                    </div>

                                                    <div class="panel-footer text-center">
                                                        @*<button type="button" class="btn btn-primary" id="btnSave" onclick="return AddStudentResult();">Save</button>*@
                                                        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "StudentResult")';return false;">Add</button>

                                                    </div>
                                                </form>
                                            </div>
                                            <div id="StudentResultDetails" role="tabpanel" class="tab-pane">
                                                <form class="form-horizontal" id="MyForm" data-parsley-validate="" novalidate="" action="#">

                                                    <div class="panel-heading">
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Student:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="StudentID_StudentResultDetails"></label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Marks:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="Marks_StudentResultDetails"></label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Exam Subject:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="ExamSubjectID_StudentResultDetails"></label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Teacher Comments:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="TeacherComments_StudentResultDetails"></label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Guardian Comments:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="GuardianComments_StudentResultDetails"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Status:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="Status_StudentResultDetails"></label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <input type="hidden" id="StudentResultDetailsID" />
                                                    </div>

                                                    <div class="panel-footer text-center">
                                                        @*<button type="button" class="btn btn-primary" id="btnSave" onclick="return AddStudentResultDetails();">Save</button>*@
                                                        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "StudentResultDetails")';return false;">Add</button>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END panel-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*/////////////////////// class="table-responsive"///////////////////////////*@

    </div>
</body>

@section Styles {
    @Styles.Render("~/bundles/datatablesCss")
    @Styles.Render("~/bundles/SweetAlertCss")

}
@section Scripts {

    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/demoDatatable")
    @Scripts.Render("~/bundles/parsley")
    @Scripts.Render("~/bundles/SweetAlert")
    @Scripts.Render("~/bundles/demoPanels")

}

<script type="text/javascript">
    $(document).ready(function () {

        SetUpGridStudentParticulars();

    });
</script>