@model MySchool.Entities.GradeEntities
@{
    ViewBag.Title = "StudentHealth";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/StudentHealth.js"></script>

<body style="background-image: url(../background/depart.jpg);
    background-size: cover;">

    @Html.Hidden("saveStudentHealth", @Url.Action("Add", "StudentHealth"))
    @Html.Hidden("loaddata", @Url.Action("LoadData", "StudentHealth"))

    <div class="row" style="height:2050px;">
        <div class="col-md-7 bac" style=" width: 100%;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text m-t-lg">
                        <h2>
                            Student Health
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8" style="width: 100%;">

            <div style="height:900px;">
                @*/////////////////////// class="table-responsive"///////////////////////////*@
                <div class="card">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title"><h4>Add Student Health</h4></div>
                                </div>
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">
                                        <form class="form-horizontal" id="MyForm" data-parsley-validate="" novalidate="" action="#">

                                            <div class="panel-heading">
                                            </div>

                                            <div class="form-group" style="margin-right: -600px;">
                                                <label class="col-sm-2 control-label">Student Name:<font color=""></font> </label>
                                                <div class="col-sm-10" style="width: 30%;">
                                                    <input type="text" class="form-control" style="width: 90%;" id="StudentName" placeholder="Student Name" required="required">
                                                </div>
                                            </div>
                                            <div class="form-group" style="margin-right: -600px;">
                                                <label class="col-sm-2 control-label">Blood Group:<font color=""></font> </label>
                                                <div class="col-sm-10" style="width: 30%;">
                                                    <input type="text" class="form-control" style="width: 90%;" id="BloodGroup" placeholder="Blood Group" required="required">
                                                </div>
                                            </div>
                                            <div class="form-group" style="margin-right: -600px;">
                                                <label class="col-sm-2 control-label">Known Madical Problems:<font color=""></font> </label>
                                                <div class="col-sm-10" style="width: 30%;">
                                                    <input type="text" class="form-control" style="width: 90%;" id="KnownMadicalProblems" placeholder="Known Madical Problems" required="required">
                                                </div>
                                            </div>
                                            <div class="form-group" style="margin-right: -600px;">
                                                <label class="col-sm-2 control-label">Doctor Name:<font color=""></font> </label>
                                                <div class="col-sm-10" style="width: 30%;">
                                                    <input type="text" class="form-control" style="width: 90%;" id="DoctorName" placeholder="Doctor Name" required="required">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <input type="hidden" id="StudentHealthID" />
                                            </div>

                                            <div class="panel-footer text-center">
                                                <button type="button" class="btn btn-primary" id="btnSave" onclick="return Add();">Save</button>
                                                <button type="button" class="btn btn-primary" id="btnClear" onclick="clearTextBox();">Clear</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    @*GRD-Table*@
                    <div style="width: 100%;">
                        <div class="panel panel-default">
                            <div class="card">
                                <div style="width:95%; margin:0 auto" class="tablecontainer">

                                    <input type="hidden" id="hdncount" />
                                    <input type="hidden" id="hdnrole" />
                                    <input type="hidden" id="hdndbfilePath" />

                                    <div class="table-responsive">
                                        @*/////////////////////// class="table-responsive"///////////////////////////*@
                                        <h2>
                                            Student Health List
                                        </h2>
                                        <table id="StudentHealthTable" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 93.667%;">
                                            <thead>
                                                <tr>
                                                    <th>Student</th>
                                                    <th>Name</th>
                                                    <th>Grade</th>
                                                    <th>Leaving Reason</th>
                                                    <th>Gender</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        @*/////////////////////// class="table-responsive"///////////////////////////*@

    </div>
</body>

@section Styles {
    @Styles.Render("~/bundles/datatablesCss")
    @Styles.Render("~/bundles/SweetAlertCss")

    @Styles.Render("~/bundles/tagsinputCss")
    @Styles.Render("~/bundles/sliderCtrlCss")
    @Styles.Render("~/bundles/chosenCss")
    @Styles.Render("~/bundles/datetimePickerCss")
    @Styles.Render("~/bundles/ColorPickerCss")
    @Styles.Render("~/bundles/select2Css")
    @Styles.Render("~/bundles/fileUploadCss")

}
@section Scripts {

    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/demoDatatable")

    @Scripts.Render("~/bundles/parsley")
    @Scripts.Render("~/bundles/SweetAlert")

    @Scripts.Render("~/bundles/filestyle")
    @Scripts.Render("~/bundles/tagsinput")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/sliderCtrl")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/wysiwyg")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/datetimePicker")
    @Scripts.Render("~/bundles/ColorPicker")
    @Scripts.Render("~/bundles/demoForms")
    @Scripts.Render("~/bundles/select2")

    @Scripts.Render("~/bundles/fileUpload")
    @Scripts.Render("~/bundles/demoUpload")

}

<script type="text/javascript">
    $(document).ready(function () {

        SetUpGrid();

    });
</script>


