@model MySchool.Entities.AdmissionFormEntities

@{
    ViewBag.Title = "Student Information";
}



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/knockout-3.5.0.debug.js"></script>
<script src="~/Scripts/AdmissionForm.js"></script>

<h2>Student Details</h2>
<body>
    @Html.Hidden("saveadmissionform", Url.Action("SaveOrUpdate", "AdmissionForm"))
    <div class="col-md-9">
        <div class="container-md">
            <!-- Checkout Process-->
            <form novalidate="novalidate" method="post">
                <div id="accordion" class="panel-group">
                    <!-- Basic Information-->
                    <div class="panel b">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#acc1collapse1">1. Basic Details</a>
                            </h4>
                        </div>
                        <div id="acc1collapse1" class="panel-collapse collapse">
                            <div id="collapse01" class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>First Name*</label>
                                            <input type="text" id="txtStudentFirstName" name="checkout-studentfirstname" placeholder="Student First Name" required="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Middle Name</label>
                                            <input type="text" id="txtStudentMiddleName" name="checkout-studentmiddlename" placeholder="Student Middle Name" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Last Name*</label>
                                            <input type="text" id="txtStudentLastName" name="checkout-studentlastname" placeholder="Student Last Name" required="" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Date of Birth*</label>
                                            <div id="datetimepicker1" class="input-group date" style="width:70%">
                                                <input type="text" id="txtDateofBirth" class="form-control" required="">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Gender*</label>
                                            <select name="account" class="form-control m-b" style="width:50%" id="drpGender" required="">
                                                <option value="">Select</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Others">Others</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Religion*</label>
                                            <select name="account" class="form-control m-b" style="width:50%" id="drpReligion" required="">
                                                <option value="">Select</option>
                                                <option value="Hindu">Hindu</option>
                                                <option value="Muslim">Muslim</option>
                                                <option value="Christian">Christian</option>
                                                <option value="Others">Others</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Caste*</label>
                                            <select name="account" class="form-control m-b" style="width:50%" id="drpCaste" required="">
                                                <option value="">Select</option>
                                                <option value="General">General</option>
                                                <option value="OBC">OBC</option>
                                                <option value="SC">SC</option>
                                                <option value="ST">ST</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label>Address*</label>
                                            <input type="text" class="form-control" style="width:100%" id="txtAddress" placeholder="Address" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" class="form-control" style="width:100%" id="txtEmail" placeholder="Email" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Mother tounge*</label>
                                            <input type="text" class="form-control" style="width:100%" id="txtMotherToung" placeholder="Mother Tounge" required="">
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Identification Marks*</label>
                                            <input type="text" class="form-control" style="width:100%" id="txtIdentificationMarks" placeholder="Identification marks" required="">
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Special medical problem*</label>
                                            <input type="text" class="form-control" style="width:100%" id="txtSpecialMedicalProblem" placeholder="Special medical problem" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Applied for class*</label>
                                            <select name="account" class="form-control m-b" style="width:50%" id="drpGrade" required="">
                                                <option value="">Select</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Fathers's Information-->
                    <div class="panel b">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#acc1collapse2">2. Fathers's Details</a>
                            </h4>
                        </div>
                        <div id="acc1collapse2" class="panel-collapse collapse">
                            <div id="collapse02" class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>First Name*</label>
                                            <input type="text" id="txtFatherFirstName" name="checkout-Fatherfirstname" placeholder="Father First Name" required="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Middle Name</label>
                                            <input type="text" id="txtFatherMiddleName" name="checkout-Fathermiddlename" placeholder="Father Middle Name" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Last Name*</label>
                                            <input type="text" id="txtFatherLastName" name="checkout-Fatherlastname" placeholder="Father Last Name" required="" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Contact No.*</label>
                                            <input type="text" name="checkout-ship-city" id="txtContactNoFather" placeholder="Contact no." required="" class="form-control" />
                                        </div>


                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Qualification*</label>
                                            <input type="text" name="checkout-ship-zip" id="txtQualificationFather" placeholder="Qualification" required="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">

                                        <div class="form-group">
                                            <label>Occupation*</label>
                                            <input type="text" name="checkout-ship-telephone" id="txtOccupationFather" placeholder="Occupation" required="" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">

                                        <div class="form-group">
                                            <label>Annual Income*</label>
                                            <input type="text" name="checkout-ship-telephone" id="txtAnnualIncomeFather" placeholder="Annual income" required="" class="form-control" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Mother's Information-->
                    <div class="panel b">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#acc1collapse3">3. Mothers's Details</a>
                            </h4>
                        </div>
                        <div id="acc1collapse3" class="panel-collapse collapse">
                            <div id="collapse03" class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>First Name*</label>
                                            <input type="text" id="txtMotherFirstName" name="checkout-Motherfirstname" placeholder="Mother First Name" required="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Middle Name</label>
                                            <input type="text" id="txtMotherMiddleName" name="checkout-Mothermiddlename" placeholder="Mother Middle Name" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Last Name*</label>
                                            <input type="text" id="txtMotherLastName" name="checkout-Motherlastname" placeholder="Mother Last Name" required="" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Contact No.*</label>
                                            <input type="text" name="checkout-ship-city" id="txtContactNumberMother" placeholder="Contact no." required="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Qualification*</label>
                                            <input type="text" name="checkout-ship-zip" id="txtQualificationMother" placeholder="Qualification" required="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">

                                        <div class="form-group">
                                            <label>Occupation*</label>
                                            <input type="text" name="checkout-ship-telephone" id="txtOccupationMother" placeholder="Occupation" required="" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">

                                        <div class="form-group">
                                            <label>Annual Income*</label>
                                            <input type="text" name="checkout-ship-telephone" id="txtAnnualIncomeMother" placeholder="Annual income" required="" class="form-control" />
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
               


                <!-- Guardian Information-->
                <div class="panel b">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#acc1collapse4">4. Guardian's Information</a>
                        </h4>
                    </div>
                    <div id="acc1collapse4" class="panel-collapse collapse">
                        <div id="collapse04" class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <div class="radio c-radio">
                                            <label>
                                                <input id="chkFather" type="radio" name="checkout-pay" value="Father" checked="checked" class="form-control" />
                                                <span class="fa fa-check"></span>Father as Guardian
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <div class="radio c-radio">
                                        <label>
                                            <input id="chkMother" type="radio" name="checkout-pay" value="Mother" class="form-control" />
                                            <span class="fa fa-check"></span>Mother as Guardian
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <div class="radio c-radio">
                                        <label>
                                            <input id="chkOthers" type="radio" name="checkout-pay" value="Other" class="form-control" />
                                            <span class="fa fa-check"></span>Others
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div id="collapse03" class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>First Name*</label>
                                            <input type="text" id="txtGuardianFirstName" name="checkout-Guardianfirstname" placeholder="Guardian First Name" required="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Middle Name</label>
                                            <input type="text" id="txtGuardianMiddleName" name="checkout-Guardianmiddlename" placeholder="Guardian Middle Name" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Last Name*</label>
                                            <input type="text" id="txtGuardianLastName" name="checkout-Guardianlastname" placeholder="Guardian Last Name" required="" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Contact No.*</label>
                                            <input type="text" name="checkout-ship-city" placeholder="Contact no." required="" class="form-control" />
                                        </div>


                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Relationship with Guardian*</label>
                                            <input type="text" id="txtRelationship" name="checkout-ship-zip" placeholder="Relationship" required="" class="form-control" />
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <!-- Photo Upload-->

                <div class="panel b">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#acc1collapse5">5. Photo upload</a>
                        </h4>
                    </div>
                    <div id="acc1collapse5" class="panel-collapse collapse">
                        <div id="collapse05" class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Student Photo*</label>
                                        <img id="imgStudent" src="~/Images/photoPreview.jpg" accept="image/*" />
                                        <input type="file" id="photoStudent" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                    </div>
                                </div>
                                @*<img id='img-upload' />*@
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Father's Photo*</label>
                                        <img id="imgFather" src="~/Images/photoPreview.jpg" alt="Student Photo" />
                                        <input type="file" id="photoFather" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Father's signature*</label>
                                        <img id="imgFatherSign" src="~/Images/photoPreview.jpg" alt="Student Photo" />
                                        <input type="file" id="photoFatherSign" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Mothers's Photo*</label>
                                        <img id="imgMother" src="~/Images/photoPreview.jpg" alt="Student Photo" />
                                        <input type="file" id="photoMother" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Mothers's signature*</label>
                                        <img id="imgMotherSign" src="~/Images/photoPreview.jpg" alt="Student Photo" />
                                        <input type="file" id="photoMotherSign" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="hidden" id="FormID" />
                            </div>
                            <div class="mt-lg">
                                @*<button type="button"  id="btnSaveOrUpdate" class="btn btn-info" onclick="SaveOrUpdate">Submit Form</button>*@
                                <input type="submit" id="btnSaveOrUpdate" class="btn btn-info" value="Submit Form" />
                                <button type="button" id="btnSaveOrUpdate" class="btn btn-info" onclick="ClearAll">Clear all</button>
                            </div>

                        </div>
                    </div>
                </div>




                @*<div class="panel b">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#acc1collapse5">5. Photo upload</a>
                            </h4>
                        </div>
                        <div id="acc1collapse5" class="panel-collapse collapse">
                            <div id="collapse05" class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Student Photo*</label>
                                            <input type="file" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                        </div>
                                    </div>
                                    <img id='img-upload' />
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Father's Photo*</label>
                                            <input type="file" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Father's signature*</label>
                                            <input type="file" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Mothers's Photo*</label>
                                            <input type="file" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Mothers's signature*</label>
                                            <input type="file" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-lg">
                                    <button type="button" class="btn btn-info">Submit Form</button>
                                </div>

                            </div>
                        </div>
                    </div>*@



            </form>
        </div>
    </div>
</body>
<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgStudent').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    //$("#inputFile").change(function () {
    //    readURL(this);
    //});
</script>





@section Styles {
    @Styles.Render("~/bundles/tagsinputCss")
    @Styles.Render("~/bundles/sliderCtrlCss")
    @Styles.Render("~/bundles/chosenCss")
    @Styles.Render("~/bundles/datetimePickerCss")
    @Styles.Render("~/bundles/ColorPickerCss")
    @Styles.Render("~/bundles/select2Css")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryValidate")
    @Scripts.Render("~/bundles/jquerySteps")
    @Scripts.Render("~/bundles/demoWizard")
    @Scripts.Render("~/bundles/datetimePicker")

    @Scripts.Render("~/bundles/filestyle")
    @Scripts.Render("~/bundles/tagsinput")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/sliderCtrl")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/wysiwyg")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/ColorPicker")
    @Scripts.Render("~/bundles/demoForms")
    @Scripts.Render("~/bundles/select2")
}

