@model MySchool.Entities.AdmissionFormEntities

@{
    ViewBag.Title = "Student Information";
}

<h2>Student Details</h2>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/StudentHealth.js"></script>

<div class="col-md-9">
    <div class="container-md">
        <!-- Checkout Process-->
        <form action="" method="post" novalidate="novalidate">
            <div id="accordion" class="panel-group">


                <!-- Basic Information-->
                <div class="panel b">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#acc1collapse1">1. Basic Details</a>
                        </h4>
                    </div>
                    <div id="acc1collapse1" class="panel-collapse collapse">
                        <div id="collapse01" class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>First Name*</label>
                                        <input type="text" id="txtStudentFirstName" name="checkout-studentfirstname" required="" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Middle Name</label>
                                        <input type="text" id="txtStudentMiddleName" name="checkout-studentmiddlename" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Last Name*</label>
                                        <input type="text" id="txtStudentLastName" name="checkout-studentlastname" required="" class="form-control" />
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Date of Birth*</label>
                                        <div id="datetimepicker1" class="input-group date" style="width:70%">
                                            <input type="text" id="txtDateofBirth" class="form-control" required="">
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Gender*</label>
                                        <select name="account" class="form-control m-b" style="width:50%" id="drpGender" required="">
                                            <option value="">Select</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Others">Others</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Religion*</label>
                                        <select name="account" class="form-control m-b" style="width:50%" id="drpReligion" required="">
                                            <option value="">Select</option>
                                            <option value="Hindu">Hindu</option>
                                            <option value="Muslim">Muslim</option>
                                            <option value="Christian">Christian</option>
                                            <option value="Others">Others</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Caste*</label>
                                        <select name="account" class="form-control m-b" style="width:50%" id="drpCaste" required="">
                                            <option value="">Select</option>
                                            <option value="General">General</option>
                                            <option value="OBC">OBC</option>
                                            <option value="SC">SC</option>
                                            <option value="ST">ST</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label>Address*</label>
                                        <input type="text" class="form-control" style="width:100%" id="txtAddress" placeholder="Address" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Mother tounge*</label>
                                        <input type="text" class="form-control" style="width:100%" id="txtAddress" placeholder="Mother Tounge" required="">
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Applied for class*</label>
                                        <select name="account" class="form-control m-b" style="width:50%" id="drpGender" required="">
                                            <option value="">Select</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    </div>
                   
                <!-- Fathers's Information-->
                    <div class="panel b">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#acc1collapse2">2. Fathers's Details</a>
                            </h4>
                        </div>
                        <div id="acc1collapse2" class="panel-collapse collapse">
                            <div id="collapse02" class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>First Name*</label>
                                            <input type="text" id="txtFatherFirstName" name="checkout-Fatherfirstname" required="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Middle Name</label>
                                            <input type="text" id="txtFatherMiddleName" name="checkout-Fathermiddlename" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Last Name*</label>
                                            <input type="text" id="txtFatherLastName" name="checkout-Fatherlastname" required="" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Contact No.*</label>
                                            <input type="text" name="checkout-ship-city" required="" class="form-control" />
                                        </div>


                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Qualification*</label>
                                            <input type="text" name="checkout-ship-zip" required="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">

                                        <div class="form-group">
                                            <label>Annual Income*</label>
                                            <input type="text" name="checkout-ship-telephone" required="" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <!-- Mother's Information-->
                    <div class="panel b">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#acc1collapse3">3. Mothers's Details</a>
                            </h4>
                        </div>
                        <div id="acc1collapse3" class="panel-collapse collapse">
                            <div id="collapse03" class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>First Name*</label>
                                            <input type="text" id="txtMotherFirstName" name="checkout-Motherfirstname" required="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Middle Name</label>
                                            <input type="text" id="txtMotherMiddleName" name="checkout-Mothermiddlename" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Last Name*</label>
                                            <input type="text" id="txtMotherLastName" name="checkout-Motherlastname" required="" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Contact No.*</label>
                                            <input type="text" name="checkout-ship-city" required="" class="form-control" />
                                        </div>


                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Qualification*</label>
                                            <input type="text" name="checkout-ship-zip" required="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">

                                        <div class="form-group">
                                            <label>Annual Income*</label>
                                            <input type="text" name="checkout-ship-telephone" required="" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                  
                    <!-- Guardian Information-->
                    <div class="panel b">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#acc1collapse4">4. Guardian's Information</a>
                            </h4>
                        </div>
                        <div id="acc1collapse4" class="panel-collapse collapse">
                            <div id="collapse04" class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <div class="radio c-radio">
                                                <label>
                                                    <input id="chk-guest" type="radio" name="checkout-pay" value="paypal" checked="checked" class="form-control" />
                                                    <span class="fa fa-check"></span>Father as Guardian
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <div class="radio c-radio">
                                                <label>
                                                    <input id="chk-guest" type="radio" name="checkout-pay" value="paypal" checked="checked" class="form-control" />
                                                    <span class="fa fa-check"></span>Mother as Guardian
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <div class="radio c-radio">
                                                <label>
                                                    <input id="chk-guest" type="radio" name="checkout-pay" value="paypal" checked="checked" class="form-control" />
                                                    <span class="fa fa-check"></span>Others
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="collapse03" class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>First Name*</label>
                                                    <input type="text" id="txtGuardianFirstName" name="checkout-Guardianfirstname" required="" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Middle Name</label>
                                                    <input type="text" id="txtGuardianMiddleName" name="checkout-Guardianmiddlename" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Last Name*</label>
                                                    <input type="text" id="txtGuardianLastName" name="checkout-Guardianlastname" required="" class="form-control" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Contact No.*</label>
                                                    <input type="text" name="checkout-ship-city" required="" class="form-control" />
                                                </div>


                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Relationship with Guardian*</label>
                                                    <input type="text" name="checkout-ship-zip" required="" class="form-control" />
                                                </div>
                                            </div>
                                        
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                  
                    
                    <!-- Photo Upload-->
                    <div class="panel b">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#acc1collapse5">5. Photo upload</a>
                            </h4>
                        </div>
                        <div id="acc1collapse5" class="panel-collapse collapse">
                            <div id="collapse05" class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Student Photo*</label>
                                            <input type="file" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Father's Photo*</label>
                                            <input type="file" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Father's signature*</label>
                                            <input type="file" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Mothers's Photo*</label>
                                            <input type="file" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Mothers's signature*</label>
                                            <input type="file" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-lg"> 
                                    <button type="button" class="btn btn-info">Submit Form</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>





@*<div class="panel panel-default" >

        <div class="panel-body">
            <form id="example-form" action="#">
                <div>
                    <h4>
                        Basic Details
                    </h4>
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>First Name*</label>
                                    <input type="text" id="txtStudentFirstName" name="checkout-studentfirstname" required="" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <input type="text" id="txtStudentMiddleName" name="checkout-studentmiddlename" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Last Name*</label>
                                    <input type="text" id="txtStudentLastName" name="checkout-studentlastname" required="" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Date of Birth*</label>
                                    <div id="datetimepicker1" class="input-group date" style="width:50%">
                                        <input type="text" id="txtDateofBirth" class="form-control" required="">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Gender*</label>
                                    <select name="account" class="form-control m-b" style="width:50%" id="drpGender" required="">
                                        <option value="">Select</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Religion*</label>
                                    <select name="account" class="form-control m-b" style="width:50%" id="drpReligion" required="">
                                        <option value="">Select</option>
                                        <option value="Hindu">Hindu</option>
                                        <option value="Muslim">Muslim</option>
                                        <option value="Christian">Christian</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Caste*</label>
                                    <select name="account" class="form-control m-b" style="width:50%" id="drpCaste" required="">
                                        <option value="">Select</option>
                                        <option value="General">General</option>
                                        <option value="OBC">OBC</option>
                                        <option value="SC">SC</option>
                                        <option value="ST">ST</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label>Address*</label>
                                    <input type="text" class="form-control" style="width:100%" id="txtAddress" placeholder="Address" required="">
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <h4>
                        Parent Details
                    </h4>

                    <fieldset>

                        <div class="panel panel-primary">
                            <div class="panel-heading">Panel with panel-primary class</div>




                            <div class="row" style="left:20px">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>First Name*</label>
                                        <input type="text" id="txtFatherFirstName" name="checkout-Fatherfirstname" required="" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Middle Name</label>
                                        <input type="text" id="txtFatherMiddleName" name="checkout-Fathermiddlename" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Last Name*</label>
                                        <input type="text" id="txtFatherLastName" name="checkout-Fatherlastname" required="" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">Panel Content</div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>First Name*</label>
                                    <input type="text" id="txtMotherFirstName" name="checkout-Motherfirstname" required="" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <input type="text" id="txtMotherMiddleName" name="checkout-Mothermiddlename" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Last Name*</label>
                                    <input type="text" id="txtMotherLastName" name="checkout-Motherlastname" required="" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>First Name*</label>
                                    <input type="text" id="txtGuardianFirstName" name="checkout-Guardianfirstname" required="" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <input type="text" id="txtGuardianMiddleName" name="checkout-Guardianmiddlename" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Last Name*</label>
                                    <input type="text" id="txtGuardianLastName" name="checkout-Guardianlastname" required="" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </fieldset>
                    <h4>
                        Hints
                        <br>
                        <small>Nam egestas, leo eu gravida tincidunt</small>
                    </h4>
                    <fieldset>
                        <p class="lead text-center">Almost there!</p>
                    </fieldset>
                    <h4>
                        Finish
                        <br>
                        <small>Nam egestas, leo eu gravida tincidunt</small>
                    </h4>
                    <fieldset>
                        <p class="lead">One last check</p>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" required="required" name="terms">
                                <span class="fa fa-check"></span>I agree with the Terms and Conditions.
                            </label>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>*@




@section Styles {
    @Styles.Render("~/bundles/tagsinputCss")
    @Styles.Render("~/bundles/sliderCtrlCss")
    @Styles.Render("~/bundles/chosenCss")
    @Styles.Render("~/bundles/datetimePickerCss")
    @Styles.Render("~/bundles/ColorPickerCss")
    @Styles.Render("~/bundles/select2Css")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryValidate")
    @Scripts.Render("~/bundles/jquerySteps")
    @Scripts.Render("~/bundles/demoWizard")
    @Scripts.Render("~/bundles/datetimePicker")

    @Scripts.Render("~/bundles/filestyle")
    @Scripts.Render("~/bundles/tagsinput")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/sliderCtrl")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/wysiwyg")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/ColorPicker")
    @Scripts.Render("~/bundles/demoForms")
    @Scripts.Render("~/bundles/select2")
}
