@model MySchool.Entities.ExamEntities

@*@{
        Layout = "~/Views/Shared/_LayoutPage.cshtml";
 }*@


@{
    ViewBag.Title = "UserRegistration";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/UserRegistration.js"></script>

<body style="background-image: url(../background/depart.jpg);
    background-size: cover;">


    @Html.Hidden("saveUserRegistration", @Url.Action("Add", "UserRegistration"))


    <div class="row" style="height:1000px;" align="center">
        <div class="col-md-7 bac" style=" width: 100%;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text m-t-lg">
                        <h2>
                            User Registration
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="" style="width: 50%;" align="center">

            <div style="height:900px;" align="center">
                @*/////////////////////// class="table-responsive"///////////////////////////*@
                <div class="card">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title"><h4>  </h4></div>
                                </div>
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">
                                        <form class="form-horizontal" id="MyForm" data-parsley-validate="" novalidate="" action="#">

                                            @*<div class="form-group" style="margin-right: -710px;">
                                                <label class="col-sm-2 control-label">Exam Name:<font color=""></font> </label>
                                                <div class="col-sm-10" style="width: 25%;">
                                                    @Html.DropDownListFor(model => model.ExamID, (IEnumerable<SelectListItem>)ViewBag.Exam, "Select", new { @class = "form-control", @id = "drpExam" })
                                                </div>
                                            </div>*@
                                            <div class="form-group" style="margin-right: -600px;">
                                                <label class="col-sm-2 control-label">FirstName:<font color=""></font> </label>
                                                <div class="col-sm-10" style="width: 30%;">
                                                    <input type="text" class="form-control" style="width: 90%;" id="FirstName" placeholder="FirstName" required="required">
                                                </div>
                                            </div>
                                            <div class="form-group" style="margin-right: -600px;">
                                                <label class="col-sm-2 control-label">Last Name:<font color=""></font> </label>
                                                <div class="col-sm-10" style="width: 30%;">
                                                    <input type="text" class="form-control" style="width: 90%;" id="LastName" placeholder="Last Name" required="required">
                                                </div>
                                            </div>

                                            <div class="form-group" style="margin-right: -600px;">
                                                <label class="col-sm-2 control-label">User Name:<font color=""></font> </label>
                                                <div class="col-sm-10" style="width: 30%;">
                                                    <input type="text" class="form-control" style="width: 90%;" id="UserName" placeholder="UserName" required="required">
                                                </div>
                                            </div>
                                            <div class="form-group" style="margin-right: -600px;">
                                                <label class="col-sm-2 control-label">Password:<font color=""></font> </label>
                                                <div class="col-sm-10" style="width: 30%;">
                                                    <input type="Password" class="form-control" style="width: 90%;" id="Password" placeholder="Password" required="required">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <input type="hidden" id="UserRegistrationID" />
                                            </div>

                                            <div class="panel-footer text-center">
                                                <button type="button" class="btn btn-primary" id="btnSave" onclick="return Add();">Save</button>
                                                <button type="button" class="btn btn-primary" id="btnClear" onclick="clearTextBox();">Clear</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Styles {
    @Styles.Render("~/bundles/datatablesCss")
    @Styles.Render("~/bundles/SweetAlertCss")

    @Styles.Render("~/bundles/tagsinputCss")
    @Styles.Render("~/bundles/sliderCtrlCss")
    @Styles.Render("~/bundles/chosenCss")
    @Styles.Render("~/bundles/datetimePickerCss")
    @Styles.Render("~/bundles/ColorPickerCss")
    @Styles.Render("~/bundles/select2Css")
    @Styles.Render("~/bundles/fileUploadCss")

}
@section Scripts {

    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/demoDatatable")

    @Scripts.Render("~/bundles/parsley")
    @Scripts.Render("~/bundles/SweetAlert")

    @Scripts.Render("~/bundles/filestyle")
    @Scripts.Render("~/bundles/tagsinput")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/sliderCtrl")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/wysiwyg")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/datetimePicker")
    @Scripts.Render("~/bundles/ColorPicker")
    @Scripts.Render("~/bundles/demoForms")
    @Scripts.Render("~/bundles/select2")

    @Scripts.Render("~/bundles/fileUpload")
    @Scripts.Render("~/bundles/demoUpload")

}

<script type="text/javascript">
    $(document).ready(function () {

        // SetUpGrid();

    });
</script>

