@model MySchool.Entities.TeacherEntities
@{
    ViewBag.Title = "Index";
}


@{
    ViewBag.Title = "TeacherParticulars";
}

@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/StudentParticulars.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Student.js"></script>*@

<body style="background-image: url(../background/depart.jpg);
    background-size: cover;">
    <h2>Teacher Details</h2>

    @Html.Hidden("saveStudentParticulars", @Url.Action("AddStudentParticulars", "Student"))
    @Html.Hidden("loaddataStudentParticulars", @Url.Action("LoadDataStudentParticulars", "Student"))

    <div class="row" style="height:1050px;">
        <div class="col-md-7 bac" style=" width: 100%;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text m-t-lg">
                        <h2>
                            Teacher
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8" style="width: 100%;">

            <div style="height:900px;">
                @*/////////////////////// class="table-responsive"///////////////////////////*@
                <div class="card">



                    <div class="row">
                        <div class="col-lg-12">
                            <!-- START panel-->
                            <div id="panelDemo14" class="panel panel-default">
                                <div class="panel-body">
                                    <div role="tabpanel">
                                        <!-- Nav tabs-->
                                        <ul role="tablist" class="nav nav-tabs">
                                            <li role="presentation" class="active">
                                                <a href="#TeacherBasicDetails" aria-controls="TeacherBasicDetails" role="tab" data-toggle="tab">Basic Details</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#TeacherQualification" aria-controls="Qualification" role="tab" data-toggle="tab">Qualification</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#TeacherSubject" aria-controls="StudentContact" role="tab" data-toggle="tab">Subject</a>
                                            </li>
                                            
                                        </ul>
                                        <!-- Tab panes-->
                                        <div class="tab-content">
                                            <div id="TeacherBasicDetails" role="tabpanel" class="tab-pane active">
                                                <form class="form-horizontal" id="MyForm" data-parsley-validate="" novalidate="" action="#">

                                                    <div class="panel-heading">
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">First Name<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            <input type="text" class="form-control" style="width: 90%;" id="txtFirstName" placeholder="First Name" required="required">
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Last Name<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">

                                                            <input type="text" class="form-control" style="width: 90%;" id="txtLastName" placeholder="Last Name" required="required">
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Gender<font color=""></font> </label>

                                                        <div class="col-sm-10" style="width: 30%;" required="required">
                                                            <select name="gender" id="drpGender" class="form-control m-b" style="width:90%">
                                                                <option value="">Select</option>
                                                                <option value="Male">Male</option>
                                                                <option value="Female">Female</option>
                                                                <option value="Others">Others</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Address<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            <textarea type="text" class="form-control valid" id="txtAddress" placeholder="Address" style="width: 90% !important;" required="required"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Phone Number 1<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            <input type="text" class="form-control" style="width: 90%;" id="txtPhoneNumberOne" placeholder="Phone Number 1" required="required">
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Phone Number 2<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            <input type="text" class="form-control" style="width: 90%;" id="txtPhoneNumberTwo" placeholder="Phone Number 2" required="required">
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Start Date<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            <input type="text" data-masked="" id="dtStartDate" style="width: 90%;" data-inputmask="'mask': '99/99/9999'" placeholder="Start Date" class="form-control" />
                                                            <span class="help-block">'99/99/9999'</span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">End Date<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            <input type="text" data-masked="" id="dtEndDate" style="width: 90%;" data-inputmask="'mask': '99/99/9999'" placeholder="End Date" class="form-control" />
                                                            <span class="help-block">'99/99/9999'</span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Comments<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            <input type="text" class="form-control" style="width: 90%;" id="txtComments" placeholder="Comments" required="required">
                                                        </div>
                                                    </div>

                                                     <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Designation<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            <input type="text" class="form-control" style="width: 90%;" id="txtDesignation" placeholder="Designation" required="required">
                                                        </div>
                                                    </div>

                                                 

                                                    <div class="form-group">
                                                        <input type="hidden" id="ID" />
                                                    </div>

                                                 
                                                </form>
                                            </div>
                                            <div id="TeacherQualification" role="tabpanel" class="tab-pane">
                                                <form class="form-horizontal" id="MyForm" data-parsley-validate="" novalidate="" action="#">

                                                    <div class="panel-heading">
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Qualification<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            <input type="text" class="form-control" style="width: 90%;" id="txtQualification" placeholder="Qualification" required="required">
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Qualification Status<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;" required="required">
                                                            <select name="QualificationStatus" id="drpQualificationStatus" class="form-control m-b" style="width:90%">
                                                                <option value="">Select</option>
                                                                <option value="Male">Passed</option>
                                                                <option value="Female">Pursuing</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Completion Date<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            <input type="text" data-masked="" id="txtCompletionDate" style="width: 90%;" data-inputmask="'mask': '99/99/9999'" placeholder="Start Date" class="form-control" />
                                                            <span class="help-block">'99/99/9999'</span>
                                                        </div>
                                                    </div>
                                                    <input type="button" class="add-row" value="Add Row" id="btnAdd">
                                                    <button type="button" class="delete-row" id="btnRemove">Delete Row</button>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <th>Select</th>
                                                                    <th>Qualification</th>
                                                                    <th>Status</th>
                                                                    <th>Completion Date</th>

                                                                </tr>
                                                            </thead>
                                                           
                                                        </table>

                                                    </div>

                                                    <div class="form-group">
                                                        <input type="hidden" id="StudentAttendentID" />
                                                    </div>

                                                    <div class="panel-footer text-center">
                                                        @*<button type="button" class="btn btn-primary" id="btnSave" onclick="return AddStudentAttendent();">Save</button>*@
                                                        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "StudentAttendent")';return false;">Add</button>

                                                    </div>
                                                </form>
                                            </div>
                                            <div id="TeacherSubject" role="tabpanel" class="tab-pane">
                                                <form class="form-horizontal" id="MyForm" data-parsley-validate="" novalidate="" action="#">

                                                    <div class="panel-heading">
                                                    </div>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Student:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="StudentID_StudentContact"></label>
                                                        </div>
                                                    </div>

                                                    <legend></legend>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Father Name:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="FatherName_StudentContact"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Father Address:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="FatherAddress_StudentContact"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Father Phone No.1:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="FPh1_StudentContact"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Father Phone No.2:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="FPh2_StudentContact"></label>
                                                        </div>
                                                    </div>

                                                    <legend></legend>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Mother Name:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="MotherName_StudentContact"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Mother Address:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="MotherAddress_StudentContact"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Mother Phone No.1:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="MPh1_StudentContact"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Mother Phone No.2:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="MPh2_StudentContact"></label>
                                                        </div>
                                                    </div>

                                                    <legend></legend>

                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Grand Father Name:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="GName_StudentContact"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Grand Father Address:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="GAddress_StudentContact"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Grand Father Phone No.1:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="GPh1_StudentContact"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-right: -600px;">
                                                        <label class="col-sm-2 control-label">Grand Father Phone No.2:<font color=""></font> </label>
                                                        <div class="col-sm-10" style="width: 30%;">
                                                            @*<input type="text" class="form-control" style="width: 90%;" id="StudentID" placeholder="Student" required="required">*@
                                                            <label class="form-control" style="width: 90%;" id="GPh2_StudentContact"></label>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <input type="hidden" id="StudentContactID" />
                                                    </div>

                                                    <div class="panel-footer text-center">
                                                        @*<button type="button" class="btn btn-primary" id="btnSave" onclick="return AddStudentContact();">Save</button>*@
                                                        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "StudentContact")';return false;">Add</button>

                                                    </div>
                                                    <div class="panel-footer text-center">
                                                        @*<button type="button" class="btn btn-primary" id="btnSave" onclick="return AddStudentParticulars();">Save</button>*@
                                                        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "StudentParticulars")';return false;">Add</button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END panel-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*/////////////////////// class="table-responsive"///////////////////////////*@

    </div>
</body>

@section Styles {
    @Styles.Render("~/bundles/datatablesCss")
    @Styles.Render("~/bundles/SweetAlertCss")

}
@section Scripts {

    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/demoDatatable")
    @Scripts.Render("~/bundles/parsley")
    @Scripts.Render("~/bundles/SweetAlert")
    @Scripts.Render("~/bundles/demoPanels")

}

<script type="text/javascript">
    $(document).ready(function () {

        SetUpGridStudentParticulars();

    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".add-row").click(function () {
            var qualification = $("#txtQualification").val();
            var completionStatus = $("#drpQualificationStatus").val();
            var completionDate = $("txtCompletionDate").val();
            var markup = "<tr><td><input type='checkbox' name='record'></td><td>" + name + "</td><td>" + email + "</td></tr>";
            $("table tbody").append(markup);
        });

        // Find and remove selected table rows
        $(".delete-row").click(function () {
            $("table tbody").find('input[name="record"]').each(function () {
                if ($(this).is(":checked")) {
                    $(this).parents("tr").remove();
                }
            });
        });
    });
</script>

<style type="text/css">
    form {
        margin: 20px 0;
    }

        form input, button {
            padding: 5px;
        }

    table {
        width: 50%;
        margin-bottom: 20px;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid #cdcdcd;
    }

        table th, table td {
            padding: 10px;
            text-align: left;
        }
</style>