@model MySchool.Entities.StudentParticularsEntities

@{
    ViewBag.Title = "Home";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/subject.js"></script>




<body style="background-image: url(../background/OnlineExamSystem.jpg);
    background-size: cover;">


    @*@Html.Hidden("saveSubject", @Url.Action("Add", "Subject"))
    @Html.Hidden("loaddata", @Url.Action("LoadData", "Subject"))
    @Html.Hidden("getSubjectByID", @Url.Action("GetSubjectByID", "Subject"))*@


    @*<div class="row" style="height:2000px;">
        <div class="col-md-7 bac" style=" width: 100%;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text m-t-lg">
                        <h2>
                            Online Exam System
                        </h2>
                    </div>
                </div>
            </div>
        </div>

    </div>*@
</body>

@section Styles {

    <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
    @Styles.Render("~/bundles/datatablesCss")
    @Styles.Render("~/bundles/SweetAlertCss")

    @Styles.Render("~/bundles/tagsinputCss")
    @Styles.Render("~/bundles/sliderCtrlCss")
    @Styles.Render("~/bundles/chosenCss")
    @Styles.Render("~/bundles/datetimePickerCss")
    @Styles.Render("~/bundles/ColorPickerCss")
    @Styles.Render("~/bundles/select2Css")
    @Styles.Render("~/bundles/fileUploadCss")


}
@section Scripts {

    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/demoDatatable")

    @Scripts.Render("~/bundles/parsley")
    @Scripts.Render("~/bundles/SweetAlert")
    <script src="~/Scripts/bootstrap-multiselect.js"></script>

    @Scripts.Render("~/bundles/filestyle")
    @Scripts.Render("~/bundles/tagsinput")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/sliderCtrl")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/wysiwyg")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/datetimePicker")
    @Scripts.Render("~/bundles/ColorPicker")
    @Scripts.Render("~/bundles/demoForms")
    @Scripts.Render("~/bundles/select2")

    @Scripts.Render("~/bundles/fileUpload")
    @Scripts.Render("~/bundles/demoUpload")

}

<script type="text/javascript">
    $(document).ready(function () {

       // SetUpGrid();

    });
</script>

