@model MySchool.Entities.AdmissionFormEntities

@{
    ViewBag.Title = "ActualAdmission";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/knockout-3.5.0.debug.js"></script>
<script src="~/Scripts/AdmissionForm.js"></script>

<h2>Student Details</h2>
<body>
    @Html.Hidden("saveadmissionform", Url.Action("SaveOrUpdate", "AdmissionForm"))
    <div class="col-md-9">
        <div class="container-md">
            <!-- Checkout Process-->
            <form action="Index" novalidate="novalidate" method="post">
                <div id="accordion" class="panel-group">
                    <!-- Basic Information-->
                    <div class="panel b">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#acc1collapse1">1. Basic Details</a>
                            </h4>
                        </div>
                        <div id="acc1collapse1" class="panel-collapse collapse">
                            <div id="collapse01" class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Admission Number</label>
                                            <input type="text" id="txtAdmissionNumber" name="AdmissionNumber" placeholder="Admission Number" class="form-control" readonly />
                                        </div>
                                    </div>
                                </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>First Name*</label>
                                                @*<input type="text" id="txtStudentFirstName" name="checkout-studentfirstname" placeholder="Student First Name" required="" class="form-control" />*@
                                                @Html.TextBoxFor(m => m.SFName, new { @class = "form-control", @placeholder = "Student First Name", @required = "", id = "txtStudentFirstName" })
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Middle Name</label>
                                                @Html.TextBoxFor(m => m.SMName, new { @class = "form-control", @placeholder = "Student Middle Name", id = "txtStudentMiddleName" })
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Last Name*</label>
                                                @Html.TextBoxFor(m => m.SLNAme, new { @class = "form-control", @placeholder = "Student Last Name", @required = "", id = "txtStudentLastName" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Date of Birth*</label>
                                                <div id="datetimepicker1" class="input-group date" style="width:70%">
                                                    @*<input type="text" id="txtDateofBirth" class="form-control" required="">*@
                                                    @Html.TextBoxFor(m => m.DOB, new { @class = "form-control", @required = "", id = "txtStudentDOB" })
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Gender*</label>
                                                @*<select name="account" class="form-control m-b" style="width:50%" id="drpGender" required="">
                            <option value="">Select</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>*@
                                                @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>
                                                    {
                                                       new SelectListItem{ Text="Select", Value = "" },
                                                       new SelectListItem{ Text="Male", Value = "Male" },
                                                       new SelectListItem{ Text="Female", Value = "Female" },
                                                       new SelectListItem{ Text="Others", Value = "Others" }
                                                    }, new { name = "Gender", @class = "form-control m-b", @style = "width:50%", @id = "drpGender", @required = "" })
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Religion*</label>
                                                @*<select name="account" class="form-control m-b" style="width:50%" id="drpReligion" required="">
                            <option value="">Select</option>
                            <option value="Hindu">Hindu</option>
                            <option value="Muslim">Muslim</option>
                            <option value="Christian">Christian</option>
                            <option value="Others">Others</option>
                        </select>*@
                                                @Html.DropDownListFor(m => m.Religion, new List<SelectListItem>
                                                       {
                                                          new SelectListItem{ Text="Select", Value = "" },
                                                          new SelectListItem{ Text="Hindu", Value = "Hindu" },
                                                          new SelectListItem{ Text="Muslim", Value = "Muslim" },
                                                          new SelectListItem{ Text="Christian", Value = "Christian" },
                                                          new SelectListItem{ Text="Others", Value = "Others" }
                                                       }, new { name = "Religion", @class = "form-control m-b", @style = "width:50%", @id = "drpReligion", @required = "" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Caste*</label>
                                                @*<select name="account" class="form-control m-b" style="width:50%" id="drpCaste" required="">
                            <option value="">Select</option>
                            <option value="General">General</option>
                            <option value="OBC">OBC</option>
                            <option value="SC">SC</option>
                            <option value="ST">ST</option>
                        </select>*@
                                                @Html.DropDownListFor(m => m.Caste, new List<SelectListItem>
                                                      {
                                                         new SelectListItem{ Text="Select", Value = "" },
                                                         new SelectListItem{ Text="General", Value = "General" },
                                                         new SelectListItem{ Text="OBC", Value = "OBC" },
                                                         new SelectListItem{ Text="SC", Value = "SC" },
                                                         new SelectListItem{ Text="ST", Value = "ST" }
                                                     }, new { name = "Caste", @class = "form-control m-b", @style = "width:50%", @id = "drpCaste", @required = "" })
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="form-group">
                                                <label>Address*</label>
                                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Address", @required = "", id = "txtAddress" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Email</label>
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", id = "txtEmail" })
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Mother tounge*</label>
                                                @Html.TextBoxFor(m => m.MoutherTounge, new { @class = "form-control", @placeholder = "Mother Tounge", @required = "", id = "txtMotherToung" })
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Identification Marks*</label>
                                                @Html.TextBoxFor(m => m.IdentificationMarks, new { @class = "form-control", @placeholder = "Identification marks", @required = "", id = "txtIdentificationMarks" })

                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Special medical problem*</label>
                                                @Html.TextBoxFor(m => m.SpecialMedicalProblem, new { @class = "form-control", @placeholder = "Special medical problem", @required = "", id = "txtSpecialMedicalProblem" })

                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Applied for class*</label>
                                                @*<select name="account" class="form-control m-b" style="width:50%" id="drpGrade" required="">
                            <option value="">Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>*@
                                                @Html.DropDownListFor(m => m.GradeID, new List<SelectListItem>
                                                  {
                                                     new SelectListItem{ Text="Select", Value = "" },
                                                     new SelectListItem{ Text="1", Value = "1" },
                                                     new SelectListItem{ Text="2", Value = "2" },
                                                     new SelectListItem{ Text="3", Value = "3" },
                                                     new SelectListItem{ Text="4", Value = "4" },
                                                     new SelectListItem{ Text="5", Value = "5" },
                                                     new SelectListItem{ Text="6", Value = "6" },
                                                     new SelectListItem{ Text="7", Value = "7" },
                                                     new SelectListItem{ Text="8", Value = "8" },
                                                     new SelectListItem{ Text="9", Value = "9" },
                                                     new SelectListItem{ Text="10", Value = "10" }
                                                  }, new { name = "Grade", @class = "form-control m-b", @style = "width:50%", @id = "drpGrade", @required = "" })

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                    </div>

                    <!-- Fathers's Information-->
                    <div class="panel b">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#acc1collapse2">2. Fathers's Details</a>
                            </h4>
                        </div>
                        <div id="acc1collapse2" class="panel-collapse collapse">
                            <div id="collapse02" class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>First Name*</label>
                                            @Html.TextBoxFor(m => m.FFName, new { @class = "form-control", @placeholder = "Father First Name", @required = "", id = "txtFatherFirstName" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Middle Name</label>
                                            @Html.TextBoxFor(m => m.FMName, new { @class = "form-control", @placeholder = "Father Middle Name", id = "txtFatherMiddleName" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Last Name*</label>
                                            @Html.TextBoxFor(m => m.FLName, new { @class = "form-control", @placeholder = "Father Last Name", @required = "", id = "txtFatherLastName" })

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Contact No.*</label>
                                            @Html.TextBoxFor(m => m.FContactNo, new { @class = "form-control", @placeholder = "Contact no", @required = "", id = "txtContactNoFather" })
                                        </div>


                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Qualification*</label>
                                            @Html.TextBoxFor(m => m.FatherQualification, new { @class = "form-control", @placeholder = "Qualification", @required = "", id = "txtQualificationFather" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">

                                        <div class="form-group">
                                            <label>Occupation*</label>
                                            @Html.TextBoxFor(m => m.FatherOccupation, new { @class = "form-control", @placeholder = "Occupation", @required = "", id = "txtOccupationFather" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">

                                        <div class="form-group">
                                            <label>Annual Income*</label>
                                            @Html.TextBoxFor(m => m.FatherAnnualIncome, new { @class = "form-control", @placeholder = "Annual income", @required = "", id = "txtAnnualIncomeFather" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Mother's Information-->
                    <div class="panel b">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#acc1collapse3">3. Mothers's Details</a>
                            </h4>
                        </div>
                        <div id="acc1collapse3" class="panel-collapse collapse">
                            <div id="collapse03" class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>First Name*</label>
                                            @Html.TextBoxFor(m => m.MFName, new { @class = "form-control", @placeholder = "Mother First Name", @required = "", id = "txtMotherFirstName" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Middle Name</label>
                                            @Html.TextBoxFor(m => m.MMName, new { @class = "form-control", @placeholder = "Mother Middle Name", id = "txtMotherMiddleName" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Last Name*</label>
                                            @Html.TextBoxFor(m => m.MLName, new { @class = "form-control", @placeholder = "Mother Last Name", @required = "", id = "txtMotherLastName" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Contact No.*</label>
                                            @Html.TextBoxFor(m => m.MContactNo, new { @class = "form-control", @placeholder = "Contact no", @required = "", id = "txtContactNumberMother" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Qualification*</label>
                                            @Html.TextBoxFor(m => m.MotherQualification, new { @class = "form-control", @placeholder = "Qualification", @required = "", id = "txtQualificationMother" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">

                                        <div class="form-group">
                                            <label>Occupation*</label>
                                            @Html.TextBoxFor(m => m.MotherOccupation, new { @class = "form-control", @placeholder = "Occupation", @required = "", id = "txtOccupationMother" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">

                                        <div class="form-group">
                                            <label>Annual Income*</label>
                                            @Html.TextBoxFor(m => m.MotherAnnualIncome, new { @class = "form-control", @placeholder = "Annual income", @required = "", id = "txtAnnualIncomeMother" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Guardian Information-->
                    <div class="panel b">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#acc1collapse4">4. Guardian's Information</a>
                            </h4>
                        </div>
                        <div id="acc1collapse4" class="panel-collapse collapse">
                            <div id="collapse04" class="panel-body">
                                @*<div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="radio c-radio">
                                                    <label>
                                                        <input id="chkFather" type="radio" name="checkout-pay" value="Father" checked="checked" class="form-control" />
                                                        @Html.RadioButtonFor(model => model.RelationWithGuardian, "yes", new { id = "chkFather" })

                                                        <span class="fa fa-check"></span>Father as Guardian
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="radio c-radio">
                                                    <label>
                                                        @Html.RadioButtonFor(model => model.RelationWithGuardian, "no", new { id = "chkMother" })
                                                        <span class="fa fa-check"></span>Mother as Guardian
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="radio c-radio">
                                                    <label>
                                                        @Html.RadioButtonFor(model => model.RelationWithGuardian, "no", new { id = "chkOthers" })
                                                        <span class="fa fa-check"></span>Others
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>*@



                                <div id="collapse03" class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>First Name*</label>
                                                @Html.TextBoxFor(m => m.GFName, new { @class = "form-control", @placeholder = "Guardian First Name", @required = "", id = "txtGuardianFirstName" })
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Middle Name</label>
                                                @Html.TextBoxFor(m => m.GMName, new { @class = "form-control", @placeholder = "Guardian Middle Name", id = "txtGuardianMiddleName" })
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Last Name*</label>
                                                @Html.TextBoxFor(m => m.GLName, new { @class = "form-control", @placeholder = "Guardian Last Name", @required = "", id = "txtGuardianLastName" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        @*<div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Contact No.*</label>
                                                    @Html.TextBoxFor(m => m.GContactNo, new { @class = "form-control", @placeholder = "Contact no", @required = "", id = "txtContactno" })
                                                </div>
                                            </div>*@

                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Relationship with Guardian*</label>
                                                @Html.TextBoxFor(m => m.RelationWithGuardian, new { @class = "form-control", @placeholder = "Relationship", @required = "", id = "txtRelationship" })
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Photo Upload-->
                    <div class="panel b">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#acc1collapse5">5. Photo upload</a>
                            </h4>
                        </div>
                        <div id="acc1collapse5" class="panel-collapse collapse">
                            <div id="collapse05" class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Student Photo*</label>
                                            <img id="imgStudent" src="~/Images/photoPreview.jpg" accept="image/*" />
                                            <input type="file" id="photoStudent" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                        </div>
                                    </div>
                                    <img id='img-upload' />
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Father's Photo*</label>
                                            <img id="imgFather" src="~/Images/photoPreview.jpg" alt="Student Photo" />
                                            <input type="file" id="photoFather" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Father's signature*</label>
                                            <img id="imgFatherSign" src="~/Images/photoPreview.jpg" alt="Student Photo" />
                                            <input type="file" id="photoFatherSign" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Mothers's Photo*</label>
                                            <img id="imgMother" src="~/Images/photoPreview.jpg" alt="Student Photo" />
                                            <input type="file" id="photoMother" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Mothers's signature*</label>
                                            <img id="imgMotherSign" src="~/Images/photoPreview.jpg" alt="Student Photo" />
                                            <input type="file" id="photoMotherSign" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" id="FormID" />
                                </div>
                                <div class="mt-lg">
                                    @*<button type="submit" id="btnSaveOrUpdate" class="btn btn-info" onclick="SaveOrUpdate">Submit Form</button>*@

                                    <button type="submit" id="btnSaveOrUpdate" class="btn btn-info" onclick="location.href='@Url.Action("Index", "AdmissionForm")'">Submit Form</button>
                                    <button type="button" id="btnClear" class="btn btn-info" onclick="ClearAll">Clear all</button>
                                </div>

                            </div>
                        </div>
                    </div>




                    @*<div class="panel b">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#acc1collapse5">5. Photo upload</a>
                            </h4>
                        </div>
                        <div id="acc1collapse5" class="panel-collapse collapse">
                            <div id="collapse05" class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Student Photo*</label>
                                            <input type="file" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                        </div>
                                    </div>
                                    <img id='img-upload' />
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Father's Photo*</label>
                                            <input type="file" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Father's signature*</label>
                                            <input type="file" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Mothers's Photo*</label>
                                            <input type="file" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Mothers's signature*</label>
                                            <input type="file" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control filestyle" />
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-lg">
                                    <button type="button" class="btn btn-info">Submit Form</button>
                                </div>

                            </div>
                        </div>*@
                </div>



            </form>
        </div>
    </div>
</body>
<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgStudent').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    //$("#inputFile").change(function () {
    //    readURL(this);
    //});
</script>





@section Styles {
    @Styles.Render("~/bundles/tagsinputCss")
    @Styles.Render("~/bundles/sliderCtrlCss")
    @Styles.Render("~/bundles/chosenCss")
    @Styles.Render("~/bundles/datetimePickerCss")
    @Styles.Render("~/bundles/ColorPickerCss")
    @Styles.Render("~/bundles/select2Css")

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryValidate")
    @Scripts.Render("~/bundles/jquerySteps")
    @Scripts.Render("~/bundles/demoWizard")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/datetimePicker")
    @Scripts.Render("~/bundles/filestyle")
    @Scripts.Render("~/bundles/tagsinput")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/sliderCtrl")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/wysiwyg")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/ColorPicker")
    @Scripts.Render("~/bundles/demoForms")
    @Scripts.Render("~/bundles/select2")
}



